@import "../../../scss/index.scss";

.ui.form.description-form {
  margin: 20px;

  .icon-error-form {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%) translateY(100%);
    color: #9f3a38;
    margin: 0;
  }

  textarea {
    position: relative;
    padding: 13px 15px;
    background-color: hsl(0, 0%, 98%);
    margin-bottom: 20px;

    &.error {
      border: 1px solid #e0b4b4;
      background-color: #fff6f6;

      &::placeholder {
        color: #9f3a38;
      }
    }
  }
}
