@import "./scss/index.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: $background-grey-light;
}

.ui.form {
  .btn-submit {
    width: 100%;
    background-color: $action;
    color: $font-light;
  }
}

.ui.button.btn-action,
.ui.button.btn-action:focus {
  background-color: $action;
  color: $font-light;
  border-color: $action;

  &:hover {
    background-color: #0066cc;
    border-color: #0066cc;
  }
}

.ui.button.btn-danger,
.ui.button.btn-danger:focus {
  background-color: $danger;
  color: $font-light;
  border-color: $danger;

  &:hover {
    background-color: #cc3333;
    border-color: #cc3333;
  }
}
